In [243]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [244]:
import SkyScan
import sky as sk
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [ ]:
# Use the endpoint POST Create session to create a query session for LIVE FLIGHT SEARCH
# Required: originPlace: 
#           destinationPlace: 
#           outboundDate:
    
#     Get back the session ID in the Location header from POST Create session.
#     Poll the results using the endpoint GET Poll session results.

In [ ]:
# POST to initiate LIVE FLIGHT SEARCH

post_url = sky_api_host + "apiservices/pricing/v1.0"

payload = "inboundDate=&cabinClass=&children=&infants=&country=&currency=&locale=&originPlace=&destinationPlace=&outboundDate=&adults="
headers = {
    'x-rapidapi-host': sky_api_host,
    'x-rapidapi-key': sk.sky_key,
    'content-type': "application/x-www-form-urlencoded"
    }

response = requests.request("POST", post_url, data=payload, headers=headers)

In [236]:
# Find Location IDs based on string searches
test_loc = SkyScan.get_locations('Atlanta',sk.key)
test_loc # use these as inputs

,CityId,CountryId,CountryName,PlaceId,PlaceName,RegionId
0,ATLA-sky,US-sky,United States,ATLA-sky,Atlanta,GA
1,ATLA-sky,US-sky,United States,ATL-sky,Atlanta Hartsfield-Jackson,GA
2,ATLA-sky,US-sky,United States,PDK-sky,Atlanta De Kalb / Peachtree,GA
3,AIYA-sky,US-sky,United States,ACY-sky,Atlantic City International,NJ
4,BAQA-sky,CO-sky,Colombia,BAQ-sky,Barranquilla,
5,NANT-sky,FR-sky,France,NTE-sky,Nantes,
6,BIAR-sky,FR-sky,France,BIQ-sky,Biarritz,
7,USHA-sky,AR-sky,Argentina,USH-sky,Ushuaia,
8,PAUU-sky,FR-sky,France,PUF-sky,Pau,
9,LCEA-sky,HN-sky,Honduras,LCE-sky,La Ceiba,

In [256]:
# BROWSE QUOTES
SkyScan.browse_dates('LAX-sky','SFO-sky', sk.key, '2019-09-01')

No Quote results, returning empty DataFrame

                                       OutboundDates
0  [{'PartialDate': '2019-09-01', 'QuoteIds': [1]...

In [242]:
t_quotes

[{'QuoteId': 1,
  'MinPrice': 269.0,
  'Direct': True,
  'OutboundLeg': {'CarrierIds': [988],
   'OriginId': 40924,
   'DestinationId': 65368,
   'DepartureDate': '2020-01-01T00:00:00'},
  'QuoteDateTime': '2019-08-22T05:03:00'}]

In [182]:
# BROWSE ROUTES
routes = SkyScan.browse_routes('SFO-sky','JFK-sky', sk.key, '2019-09-01')
routes

,Direct,MinPrice,OutboundLeg.CarrierIds,OutboundLeg.DepartureDate,OutboundLeg.DestinationId,OutboundLeg.OriginId,QuoteDateTime,QuoteId,CarrierNames
0,True,320.0,[851],2019-09-01T00:00:00,60987,81727,2019-08-21T22:49:00,1,Alaska Airlines
1,False,259.0,[833],2019-09-02T00:00:00,60987,81727,2019-08-22T13:39:00,2,American Airlines
2,True,339.0,[851],2019-09-02T00:00:00,60987,81727,2019-08-22T06:29:00,3,Alaska Airlines
3,True,251.0,[851],2019-09-03T00:00:00,60987,81727,2019-08-22T01:08:00,4,Alaska Airlines
4,True,219.0,[870],2019-09-04T00:00:00,60987,81727,2019-08-17T08:34:00,5,jetBlue
5,True,152.0,[988],2019-09-05T00:00:00,60987,81727,2019-08-22T09:23:00,6,Delta
6,True,152.0,[870],2019-09-06T00:00:00,60987,81727,2019-08-22T03:03:00,7,jetBlue
7,True,160.0,[851],2019-09-07T00:00:00,60987,81727,2019-08-22T03:32:00,8,Alaska Airlines
8,True,184.0,[988],2019-09-08T00:00:00,60987,81727,2019-08-22T12:01:00,9,Delta
9,True,152.0,[833],2019-09-09T00:00:00,60987,81727,2019-08-22T09:47:00,10,American Airlines
10,True,149.0,[851],2019-09-10T00:00:00,60987,81727,2019-08-22T06:39:00,11,Alaska Airlines
11,True,117.0,[851],2019-09-11T00:00:00,60987,81727,2019-08-21T02:58:00,12,Alaska Airlines
12,False,157.0,[833],2019-09-12T00:00:00,60987,81727,2019-08-22T13:34:00,13,American Airlines
13,True,159.0,[851],2019-09-12T00:00:00,60987,81727,2019-08-22T13:33:00,14,Alaska Airlines
14,True,152.0,[988],2019-09-13T00:00:00,60987,81727,2019-08-22T11:18:00,15,Delta
15,True,117.0,[851],2019-09-14T00:00:00,60987,81727,2019-08-21T21:33:00,16,Alaska Airlines
16,False,202.0,[851],2019-09-15T00:00:00,60987,81727,2019-08-22T12:53:00,17,Alaska Airlines
17,True,209.0,[851],2019-09-15T00:00:00,60987,81727,2019-08-22T06:12:00,18,Alaska Airlines
18,True,116.0,[851],2019-09-16T00:00:00,60987,81727,2019-08-22T06:29:00,19,Alaska Airlines
19,True,117.0,[851],2019-09-17T00:00:00,60987,81727,2019-08-21T19:32:00,20,Alaska Airlines
20,True,117.0,[851],2019-09-18T00:00:00,60987,81727,2019-08-22T03:56:00,21,Alaska Airlines
21,False,172.0,[851],2019-09-19T00:00:00,60987,81727,2019-08-22T13:41:00,22,Alaska Airlines
22,True,174.0,[870],2019-09-19T00:00:00,60987,81727,2019-08-22T13:41:00,23,jetBlue
23,True,117.0,[851],2019-09-20T00:00:00,60987,81727,2019-08-22T13:40:00,24,Alaska Airlines
24,True,117.0,[851],2019-09-21T00:00:00,60987,81727,2019-08-22T04:16:00,25,Alaska Airlines
25,True,159.0,[851],2019-09-22T00:00:00,60987,81727,2019-08-22T04:40:00,26,Alaska Airlines
26,True,152.0,[988],2019-09-23T00:00:00,60987,81727,2019-08-22T06:32:00,27,Delta
27,True,117.0,[851],2019-09-24T00:00:00,60987,81727,2019-08-22T00:21:00,28,Alaska Airlines
28,True,117.0,[851],2019-09-25T00:00:00,60987,81727,2019-08-22T12:34:00,29,Alaska Airlines
29,True,152.0,[988],2019-09-26T00:00:00,60987,81727,2019-08-22T12:07:00,30,Delta
30,True,119.0,[851],2019-09-27T00:00:00,60987,81727,2019-08-22T00:58:00,31,Alaska Airlines
31,True,117.0,[851],2019-09-28T00:00:00,60987,81727,2019-08-22T07:53:00,32,Alaska Airlines
32,True,158.0,[870],2019-09-29T00:00:00,60987,81727,2019-08-21T05:07:00,33,jetBlue
33,False,156.0,[833],2019-09-30T00:00:00,60987,81727,2019-08-22T06:12:00,34,American Airlines
34,True,159.0,[851],2019-09-30T00:00:00,60987,81727,2019-08-22T06:29:00,35,Alaska Airlines

In [178]:
SkyScan.parse_routes(test_route)

,Direct,MinPrice,OutboundLeg.CarrierIds,OutboundLeg.DepartureDate,OutboundLeg.DestinationId,OutboundLeg.OriginId,QuoteDateTime,QuoteId,CarrierNames
0,True,320.0,[851],2019-09-01T00:00:00,60987,81727,2019-08-21T22:49:00,1,Alaska Airlines
1,False,259.0,[833],2019-09-02T00:00:00,60987,81727,2019-08-22T13:39:00,2,American Airlines
2,True,339.0,[851],2019-09-02T00:00:00,60987,81727,2019-08-22T06:29:00,3,Alaska Airlines
3,True,251.0,[851],2019-09-03T00:00:00,60987,81727,2019-08-22T01:08:00,4,Alaska Airlines
4,True,219.0,[870],2019-09-04T00:00:00,60987,81727,2019-08-17T08:34:00,5,jetBlue
5,True,152.0,[988],2019-09-05T00:00:00,60987,81727,2019-08-22T09:23:00,6,Delta
6,True,152.0,[870],2019-09-06T00:00:00,60987,81727,2019-08-22T03:03:00,7,jetBlue
7,True,160.0,[851],2019-09-07T00:00:00,60987,81727,2019-08-22T03:32:00,8,Alaska Airlines
8,True,184.0,[988],2019-09-08T00:00:00,60987,81727,2019-08-22T12:01:00,9,Delta
9,True,152.0,[833],2019-09-09T00:00:00,60987,81727,2019-08-22T09:47:00,10,American Airlines
10,True,149.0,[851],2019-09-10T00:00:00,60987,81727,2019-08-22T06:39:00,11,Alaska Airlines
11,True,117.0,[851],2019-09-11T00:00:00,60987,81727,2019-08-21T02:58:00,12,Alaska Airlines
12,False,157.0,[833],2019-09-12T00:00:00,60987,81727,2019-08-22T13:34:00,13,American Airlines
13,True,159.0,[851],2019-09-12T00:00:00,60987,81727,2019-08-22T13:33:00,14,Alaska Airlines
14,True,152.0,[988],2019-09-13T00:00:00,60987,81727,2019-08-22T11:18:00,15,Delta
15,True,117.0,[851],2019-09-14T00:00:00,60987,81727,2019-08-21T21:33:00,16,Alaska Airlines
16,False,202.0,[851],2019-09-15T00:00:00,60987,81727,2019-08-22T12:53:00,17,Alaska Airlines
17,True,209.0,[851],2019-09-15T00:00:00,60987,81727,2019-08-22T06:12:00,18,Alaska Airlines
18,True,116.0,[851],2019-09-16T00:00:00,60987,81727,2019-08-22T06:29:00,19,Alaska Airlines
19,True,117.0,[851],2019-09-17T00:00:00,60987,81727,2019-08-21T19:32:00,20,Alaska Airlines
20,True,117.0,[851],2019-09-18T00:00:00,60987,81727,2019-08-22T03:56:00,21,Alaska Airlines
21,False,172.0,[851],2019-09-19T00:00:00,60987,81727,2019-08-22T13:41:00,22,Alaska Airlines
22,True,174.0,[870],2019-09-19T00:00:00,60987,81727,2019-08-22T13:41:00,23,jetBlue
23,True,117.0,[851],2019-09-20T00:00:00,60987,81727,2019-08-22T13:40:00,24,Alaska Airlines
24,True,117.0,[851],2019-09-21T00:00:00,60987,81727,2019-08-22T04:16:00,25,Alaska Airlines
25,True,159.0,[851],2019-09-22T00:00:00,60987,81727,2019-08-22T04:40:00,26,Alaska Airlines
26,True,152.0,[988],2019-09-23T00:00:00,60987,81727,2019-08-22T06:32:00,27,Delta
27,True,117.0,[851],2019-09-24T00:00:00,60987,81727,2019-08-22T00:21:00,28,Alaska Airlines
28,True,117.0,[851],2019-09-25T00:00:00,60987,81727,2019-08-22T12:34:00,29,Alaska Airlines
29,True,152.0,[988],2019-09-26T00:00:00,60987,81727,2019-08-22T12:07:00,30,Delta
30,True,119.0,[851],2019-09-27T00:00:00,60987,81727,2019-08-22T00:58:00,31,Alaska Airlines
31,True,117.0,[851],2019-09-28T00:00:00,60987,81727,2019-08-22T07:53:00,32,Alaska Airlines
32,True,158.0,[870],2019-09-29T00:00:00,60987,81727,2019-08-21T05:07:00,33,jetBlue
33,False,156.0,[833],2019-09-30T00:00:00,60987,81727,2019-08-22T06:12:00,34,American Airlines
34,True,159.0,[851],2019-09-30T00:00:00,60987,81727,2019-08-22T06:29:00,35,Alaska Airlines

In [171]:
if not pd.DataFrame(t_route['Routes']).empty:
    print('yes')

In [8]:
# BROWSE DATES
test_dates = SkyScan.browse_dates('EWR-sky','LAX-sky', sk.key, 'anytime')
t_dates = json.loads(test_dates.text)
print(t_dates.keys())
[type(t_dates[key]) for key in t_dates.keys()]

dict_keys(['Dates', 'Quotes', 'Places', 'Carriers', 'Currencies'])

[dict, list, list, list, list]

In [172]:
SkyScan.parse_routes(test_routes)

NameError: name 'test_routes' is not defined